*{
  margin: 1;
  padding: 1;
}
/*  para el index */
.contenedor{
  width:auto;
  height: auto;
  display: grid;
  grid-template-columns: 60% 40%;
}

.borde-caja{
  border: 2px solid black;
}

.barra-lateral{
  background-color:#a8a8a8 ;
  border-left: 5px solid #e86b1c; 
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
