<nav>
                     <!-- Botón hamburguesa -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="flex-row w-100">
                    <li><a href="{% url 'core-index' %}">Showcooking</a></li>
                    <li><a href="#" class="">Recetas</a></li>
                     {% if user.is_authenticated %}
                    <!-- Usuario logueado -->
                    <li class="nav-item-dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if user.es_admin %}
                            <li class="nav-item">
                                    <a class="dropdown-item" href="/admin/">
                                        Admin
                                    </a>
                            </li>
                            {% endif %}
                            {% if user.es_cocinero %}
                                <li class="nav-item">
                                    <a class="dropdown-item" href="#">
                                        Crear showcooking
                                    </a>
                                </li>
                            {% endif %}
                            <li><hr class="dropdown-divider" style="color: #5161ce;"></li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'cerrar_sesion' %}">
                                Cerrar sesión
                            </a>
                        </li>
                        </ul>
                    </li>

                    

                {% else %}

                    <!-- Usuario NO logueado -->
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'iniciar_sesion' %}">
                            Iniciar sesión
                        </a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="nav-link" href="{% url 'registro_usuario' %}">
                            Registrarse
                        </a>
                    </li>

                {% endif %}
                    </ul>
                </nav>